# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IntelliJ related
*.iml
*.ipr
*.iws

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins-dependencies
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Firebase / Google Services
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Local / Sensitive
android/local.properties
android/key.properties
*.jks
*.keystore
.env*
service-account.json
